/*Главный контент*/

.all-block-info{
 
  width: 60%;
    margin-top: 2rem;
}

.product-block{
  
    width: 90%;
    display: flex;
    flex-direction: row;
    border: 1px solid #DADADA;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
    
}
.info-image-block{
    width: 50%;
    display: flex;
    align-items: center;
}
.info-image-block img{
  margin: auto;

}



.buy-and-price-block{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.info-product-name{
    color: #373737;
    font-size: 1.3rem;
    margin-bottom: 0;
    
}
.info-product-code{
    font-size: .8rem;
    color: #969696;
    margin-bottom: 1rem;
}

.info-type{
    font-size: 1rem;
    color: #969696;
    margin-bottom: 1rem;
    font-weight: normal;
}

.info-price{
    font-size: 1.7rem;
    color: #f37f00;
    font-weight: 500;
    margin-bottom: 1rem;
}

.in-stock{
    font-size: .8rem;
    color: #969696;
    margin-bottom: 1rem;
    font-weight: normal;
}

.in-stock span{
    color: #0d61af;
}

.buy-button{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #5A9DE9;
    border-radius: 5px;
    color: white;
    width: 60%;
    cursor: pointer;
    transition: 0.5s;
}
.buy-button:hover{
    box-shadow: 0px 10px 15px #DADADA;
    transition: 0.5s;
}
.buy-button p{
    font-weight: normal;
    margin-right: 1rem;
}

.parametr{
    border-top: 1px solid #DADADA;
    margin-top: 1rem;
    font-size: .8rem;
    font-weight: normal;
}


.characters-info{
    width: 40%;
}

.add-content{
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*Аккордеоны*/
  .main__content-item{
    position: relative;
    line-height: 180%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-bottom: 1rem;
    padding: .7rem;
  
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
  }
  .main__content-itemDoc{
    position: relative;
    line-height: 180%;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
    
   margin: 0.2rem 0 1rem 1rem;
    border: 1px solid #D6D6D6;
  }
  .main__content-itemTitle{
    position: relative;
    line-height: 180%;
    display: flex;
    
    width: 90%;
   
    
  }
  #title__top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 150%;
    color: #6A6A77;
  }
.arrow__doc{
  width: 4%;
}

  .subcontent{
    
    height: 0;
    transition: 0.7s;
    overflow: hidden;
  }
 
  .subcontent__doc li{
    margin: 1rem 0;
    width: 100%;
    line-height: 180%;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    line-height: 150%;
  }
  
  .arrow{
    position: absolute;
    top: 0;
    margin-top: 1rem;
    right: 5%;
    transition: transform 1s ease;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
 

  .main__content-title {
    color: #6A6A77;
    font-style: normal;
    font-weight: 600;
    font-size: .8rem;
    line-height: 151%;
    width: 80%;
}
  .main__content-titleDoc{
   
    color: #6A6A77;
    font-style: normal;
    font-size: 1.5rem;
    
  }
  .main__content-item li{
    display: flex;
    flex-wrap: nowrap;
  }
  .main__content-item li img{
    width: 4%;
  }
  .link__doc img{
    width: 5%;
    margin-right: 2%;
  }
  #image {
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
  }
  
  .flip {
    transform: rotate(-180deg);
  }
  .link{
      color: black;
      font-style: italic;
      font-weight: 500;
      padding: 1.5rem;
  }
  .link__doc{
    display: flex;
    align-items: flex-start;
    color: #057043;
    font-style: italic;
    padding: 0.5rem 0;
    width: 94%;
    text-decoration: underline;
}

  .link__list{
    color: #2FC586;
  }

  #tel{
      display: inline-block;
      font-weight: bold;
  }

#list__serv{
  display:flex;
  flex-wrap: wrap;
  width: relative;
}

.section__servises{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 29%;
  height: 9rem;
  padding: 1rem;
  margin: 0.5rem 0.5rem;
  background: #FFFFFF;
  border: 0.5px solid #2CCE6D;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.03);
}

.section__servises-left{
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.section__servises-right{
  width: 7%;
  display: block;
  margin-left: 1.3rem;
}

.gos__static{
  position: relative;
    line-height: 180%;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

.main__content-gos{
  position: relative;
  line-height: 180%;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border: 1px solid #D6D6D6;
}

.main__content-titleGos{
  color: #6A6A77;
    font-style: normal;
    font-size: 1.1rem;
}



.main__content-withSub{
  width: 100%;

}

.sub__gos-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #D6D6D6;
}
.sub__gos-item:last-child{

  border-bottom: 0;
}
.sub__item-left{
  width: 75%;
  
  padding: 0.5rem 0;
}
.sub__item-right{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: min-content;
  
}
.sub__item-right p{
  margin-top:0.5rem;
  margin-bottom: 1rem;
  color: #2CCE6D;
}

.sub__gos{
  width: 94%;
  height: 0;
  overflow: hidden;
  transition: 0.7s;
  padding-left: 1rem;
}

.sub__item-left p span{
  color: #2CCE6D;
}

.arrow__doc-gos{
  position: absolute;
    top: 1.5rem;
    right: 4%;
    width: 3%;
}

.ul__link ul{
  padding-left: 1rem;
}
.main__content-itemDoc .arrow{
  position: absolute;
    top: 1.5rem;
    right: 5%;
    transition: transform 1s ease;
}

.alert-buy-block{
  width: 30%;
  display: flex;
  position: absolute;
  top: -100%;
  left: 35%;
  align-items: center;
  right: 35%;
  margin-top: 2rem;
  border-radius: 5px;
  background: #ffffff;
  flex-direction: column;
  height: 10rem;
  border: 1px solid #D6D6D6;
  transition: 0.5s;
  z-index: 999;
  
}
.alert-text{
  text-align: center;
  margin: 2rem 0 1rem 0;
  font-weight: normal;
}

.close-button{
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #5A9DE9;
  border-radius: 5px;
  color: white;
  width: 35%;
  cursor: pointer;
  transition: 0.5s;
font-weight: normal;
} 

.close-button:hover{
  box-shadow: 0px 10px 15px #DADADA;
    transition: 0.5s;
}

.full-width-block{
  display: block;
  width: 100%;
  height: 0;
  position: fixed;
  background: rgba(0,0,0,0.95);
  z-index: 3;
  transition: 0.5s;
}
